
.App {
  background-color: white;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.dash-container{
  text-align: center;
  width: 100%;

}

.carousel-item{
    height: 370px;
} 
.carousel-item img{
    height: 370px;
}

.carousel-inner img {
  margin: auto;
}

.dash-header{
  background-color: #003580;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}

.dash-header input{
  justify-content: space-around;
  padding: 10px 0px;
  border-radius: 50px;
  width: 50%;
}
 
.templates{
  margin-top: 50px;
}  

.dash-grid{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.dash-icon{
  align-self: flex-end;
  justify-content: space-between;
}

.form-container{
  margin-top: 50px;
  text-align: center;
}

.dash-form{
  margin: 0 50px;
}

.dash-form button{
  margin-top: 25px;
}

.dash-form input{
  margin-top: 20px;
  width: 50%
}